@font-face {
  font-family: "iconfont"; /* Project id 3708858 */
  src: url('iconfont.woff2?t=1666580527745') format('woff2'),
       url('iconfont.woff?t=1666580527745') format('woff'),
       url('iconfont.ttf?t=1666580527745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianxiren:before {
  content: "\e614";
}

.icon-jiaoseguanli:before {
  content: "\e645";
}

.icon-zijinzhuanzhang:before {
  content: "\e632";
}

.icon-neigoutuikuanguanli:before {
  content: "\e605";
}

.icon-dingdanzhongxin:before {
  content: "\e630";
}

